# Core
numpy>=1.26
pandas>=2.2
matplotlib>=3.9

# Networking
requests>=2.31

# Graphs & Visualization
networkx>=3.3
gravis>=0.1.0

# Machine Learning
scikit-learn>=1.5
torch>=2.2
torch-geometric>=2.5
jupyter>=1.0
notebook>=7.0
